<div ng-app="myApp">
        <div ng-controller="CarouselCtrl">
                <div style="height: 400px">
                        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                                        <img ng-src="{{slide.image}}" style="margin:auto;">
                                        <div class="carousel-caption">
                                                <h4>Slide {{slide.id}}</h4>
                                        </div>
                                </div uib-slide>
                        </div uib-carousel>
                </div>
        </div>
</div>
