<!--&lt;!&ndash; Declare the View &ndash;&gt;-->
<!--<style>		.section{clear:both;padding:0;margin:0}.col{background-color:#f4f4f4;height:20px;text-align:center;display:block;float:left;margin:1% 0 1% 1.6%}.col:first-child{margin-left:0}.col:hover{background-color:#f0f0ff}.group:before,.group:after{content:"";display:table}.group:after{clear:both}.c3of4{width:74.6%}.c1of4{width:23.8%}-->
<!--</style>-->
<!--<div>-->
<!--<div class="section group"> &lt;!&ndash; Display the result row &ndash;&gt;-->
<!--<div class="col c3of4">{{ calculator.currentDisplay }}</div>-->
<!--<div ng-click="resetClicked()" class="col c1of4">C</div>-->
<!--</div>-->
<!--<div class="section group"> &lt;!&ndash; Display the 1st number row &ndash;&gt;-->
<!--<div ng-click="numberButtonClicked(1)" class="col c1of4">1</div>-->
<!--<div ng-click="numberButtonClicked(2)" class="col c1of4">2</div>-->
<!--<div ng-click="numberButtonClicked(3)" class="col c1of4">3</div>-->
<!--<div ng-click="operationButtonClicked('+')" class="col c1of4">+</div>-->
<!--</div>-->
<!--<div class="section group"> &lt;!&ndash; Display the 2nd number row &ndash;&gt;-->
<!--<div ng-click="numberButtonClicked(4)" class="col c1of4">4</div>-->
<!--<div ng-click="numberButtonClicked(5)" class="col c1of4">5</div>-->
<!--<div ng-click="numberButtonClicked(6)" class="col c1of4">6</div>-->
<!--<div ng-click="operationButtonClicked('-')" class="col c1of4">-</div>-->
<!--</div>-->
<!--<div class="section group"> &lt;!&ndash; Display the 3rd number row &ndash;&gt;-->
<!--<div ng-click="numberButtonClicked(7)" class="col c1of4">7</div>-->
<!--<div ng-click="numberButtonClicked(8)" class="col c1of4">8</div>-->
<!--<div ng-click="numberButtonClicked(9)" class="col c1of4">9</div>-->
<!--<div ng-click="enterClicked()" class="col c1of4">Enter</div>-->
<!--</div>-->
<!--</div>-->

<div class="offset4 span6 well">
  <label>Enter a value :</label>
  <input id="first" ng-model="firstNumber" type="text" ng-focus='isNotTBFocused="firstNumber"'>{{(isNotTBFocused==="firstNumber")?'!':''}}
  <br/>
  <br>


  <label>Another Value:</label>
  <input id="second" ng-model="secondNumber" type="text" ng-focus='isNotTBFocused="secondNumber"'>{{(isNotTBFocused==="secondNumber")?'!':''}}
  <br/>
  <br>

  <label>Operator:</label>{{ op }}

  <br>
  <br>
  <button ng-repeat="n in [1,2,3,4,5,6,7,8,9,0]" ng-click='$parent[isNotTBFocused]=$parent[isNotTBFocused]+""+n' ng-disabled='isNotTBFocused===true'>{{n}}</button>
  <br>
  <button ng-repeat="(key,val) in operators" ng-click="$parent.op=key" ng-disabled='isNotTBFocused===true'>{{key}}</button>

  <button ng-click="result=calc(op,firstNumber,secondNumber)">=</button>
  <br>
  <br><label id="result">Result: {{result}} </label>
  <br><button ng-click="reset()">Reset</button>
</div>
