<div class="jumbotron">
  <h1>NG Sample</h1>
  <p class="lead">
    <img src="images/aowp.png" alt="aowp"><br>

    Need some help?
    <clippy></clippy>
  </p>
  <div class="btn-group" role="group" aria-label="...">
    <a type="button" class="main-button btn btn-success">Success!<span class="glyphicon glyphicon-ok"></span></a>
    <a type="button" class="main-button btn btn-danger">Failed!<span class="glyphicon glyphicon-remove"></span></a>
  </div>
  <style>
    .main-button {
      width: 200px;
    }
  </style>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>




<h2>TODO</h2>


<p>Items to do: </p>
<div ng-repeat="todo in todoList">
  <p ng-bind="todo"> <span class="glyphicon glyphicon-remove"
                    ng-click="removeTodo($index)"></span></p>
</div>

<input ng-model="item">
<button class="btn btn-lg btn-info"
        ng-click="addTodo(item)">Add</button>
<button class="btn btn-lg btn-danger"
        ng-click="removeTodo(item)">Remove</button>


<hr>

<h2>Promises</h2>

<h3>Resolve and Reject</h3>

<button class="btn btn-lg btn-primary" ng-click="resolvePromise()">Resolve</button>
<button class="btn btn-lg btn-primary" ng-click="resolveDefer()">Resolve</button>
