<p>Select to show the map <input type="checkbox" ng-model="showMap"></p>
<leaflet ng-show="showMap" lf-center="center"  url-hash-center="yes" tiles="tiles" width="100%" height="480px"></leaflet>
<div style="padding-top: 15px;">
  <ul>
    <li><input type="number" step="any" ng-model="center.lat" /> Latitude</li>
    <li><input type="number" step="any" ng-model="center.lng" /> Longitude</li>
    <li><input type="number" step="any" ng-model="center.zoom" /> Zoom</li>
  </ul>
  <h2>Direct locations</h2>
  <ul>
    <li><a href="" ng-click="changeLocation('59.913869:10.752245:5')">Oslo</a>
    <li><a href="" ng-click="changeLocation('19.075984:72.877656:11')">Mumbai</a>
    <li><a href="" ng-click="changeLocation('35.460669951495305:-74.53125:3')">North America</a>
  </ul>
</div>

